.App {
  font-family: sans-serif;
  text-align: center;
}
.nomeUtente {
  font-size: 15px;
  color: #afaaaa;
  padding-right: 12px;
}
@media only screen and (max-device-width: 480px) {
  .secondary {
    max-width: 120px;
  }
}
